<div class="row">
  <div class="card-body flex">
    <form (ngSubmit)="saveProfessor()">
      <div class="form-group">
        <label for="id">ID:</label>
        <input type="number" id="id" name="id" [(ngModel)]="professor.id" placeholder="Campo opcional*"
          class="form-control col-md-12" min="1" />
      </div>

      <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" [(ngModel)]="professor.nome" placeholder="Informe o nome do Professor"
          class="form-control col-md-12" />
      </div>
      <div class="form-group">
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" [(ngModel)]="professor.cpf" placeholder="Informe o cpf"
          class="form-control col-md-12" />
      </div>
      <div class="form-group">
        <label for="dataNascimento">Data de Nascimento:</label>
        <input type="text" id="dataNascimento" name="dataNascimento" [(ngModel)]="professor.dataNascimento"
          placeholder="Informe a Data de Nascimento" class="form-control col-md-12" />
      </div>
      <div class="form-group">
        <label for="sexo">Sexo:</label>
        <select type="text" id="sexo" name="sexo" [(ngModel)]="professor.sexo" placeholder="Informe o Sexo" class="form-control col-md-12">
          <option>M</option>
          <option>F</option>
        </select>
      </div>
      <div class="form-group">
        <label for="email">E-mail:</label>
        <input type="text" id="email" name="email" [(ngModel)]="professor.email" placeholder="Informe o email"
          class="form-control col-md-12" />
      </div>

      <button type="submit" class="btn btn-primary">Adicionar Professor</button>
    </form>
  </div>
</div>