* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  
  html, body {
    min-height: 100%;
  }
  
  body {
    background-color: #7159c1;
    -webkit-font-smoothing: antialiased !important
  }
  
  .container {
    max-width: 1000px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 80px auto;
  }
  
  h1 {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }